@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Lato"; 
    
}
body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    min-width: 640px;
    background-color: #F2F5F9;
  }
.card{
    margin-top: 164px;
    max-width: 460px;   
    border-radius: 10px;
    background-color: #FFFFFF;
    padding-bottom: 16px;
}
.card-hero_image{
    border-radius: 10px;
    object-fit: contain;
    width: 100%;
}
header{
    position: relative;
}
.div-img{
 
  bottom:-15px;
  background-color: blue;


}
.card-overlay{
    object-fit: contain;
    position:absolute;
    bottom: 0px;
    width: 100%;
    
}
.body{
    margin: 0 100px 45px 26px;  
}
.title{
    font-family: 'Poppins';
    font-size: 1.5rem;
    margin-bottom: 16px;
}
.description{
    line-height: 25px;
    font-size: 1em;
    color: #677489;

}
h1{
    color:#111729;

}

.footer{
    margin: 0 26px;
    display: flex;
    gap: 10px;
    font-size: 16px;
    align-items: center;
    line-height: 22px;

}
.footer-image{
    border-radius: 50%;
    object-fit: contain;
    width: 10%;    
}
.footer-p{
    color: #677489;
}

